{% extends 'base.html' %}

{% block content %}


<div class="image">
  <img class="responsive-img" style="background-size: contain;" src="https://i.imgur.com/D55CXE6.jpg" alt="about">


  <style>
    body {
      margin: 20px;
      text-align: center;
    }
    img {
      float: left;
      margin: 5px;
      size: 20px;
    }
    p {
      text-align: justify;
      font-size: 25px;
    }
  
</style>
<body>
      <img class="width:20%;max-width:20px" src=
"https://i.imgur.com/h1tRWzV.png"
        alt="logo">
    </div>
      
<p>
    At a young age Micole Atkins was introduced to the wonderful world of beauty. J&E was founded by the late Jincia Atkins in 1992. Jincia created a blueprint to the beauty industry in which she created a strategic map for her daughter to follow. In 2019 Micole revamped her mother's brand and plans on continuing the legacy. This hairline was created to match the texture for all hair types. With extensive research and testing J&E Hair Co. commits to achieving a high-class brand that will leave you feeling like a Goddess. Like our motto states, "The Elegance is yours!" </p>
    </div>
  
</div>
<body>

{% endblock %}