{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>J&E HAIR EXTENSIONS</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <ul>
          <li><a href="{% url 'home' %}" class="brand-logo center" style="font-style: italic;">&nbsp;&nbsp;J&E HAIR CO.</a></li>
          <li><a href="/" class="left brand-logo" ><img class="responsive-img" id="logo" src="logo.png"/></a></li>
        </ul>
        <ul class="right">
          <li><a href="/" style="font-style: italic;">Home</a></li>
          <li><a href="/about" style="font-style: italic;">About</a></li>
          <li><a href="/products" style="font-style: italic;">Details</a></li>
          {% if user.is_authenticated %}
          <li><a href="/extension"style="font-style: italic;">View All</a></li>
          <li><a href="{% url 'cart' %}"style="font-style: italic;">Cart</a></li>
          <li><a href="{% url 'logout' %}"style="font-style: italic;">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}"style="font-style: italic;">Sign Up</a></li>
          <li><a href="{% url 'login' %}"style="font-style: italic;">Log In</a></li>
          {% endif %}
        
      </ul>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">

  {% block content %}
  {% endblock %}
</main>
  <footer>
    <footer class="page-footer black">
    <div class="right" background-color="black">All Rights Reserved, &copy; J&E Hair Extensions &nbsp;</div>
  </footer>
</body>
</html>
