{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block additional_styles %}

</style>
{% endblock %}
<div class="header">
</div>
  <h1>HAIR EXTENSIONS</h1>
  <br>
  <br>
        <div class="row">
          <div class="col s4 section">
            <img id = "extensions-img" class="square responsive-img" src="https://i.imgur.com/QxTsw9Q.png" alt="">
          </div>
          <div class="col s4 section">
            <img id = "extensions-img" class="square responsive-img" src="https://i.etsystatic.com/34811563/r/il/857a8e/3823114179/il_1588xN.3823114179_dovg.jpg" alt="">
          </div>
          <div class="col s4 section">
            <img id = "extensions-img" class="square responsive-img" src="https://i.etsystatic.com/34811563/r/il/857a8e/3823114179/il_1588xN.3823114179_dovg.jpg" alt="">
          </div>
     
          <div class="row">
            <div class="col s4 section">
              <h5 style="text-align: center;">Mink Closure</h5>
            </div>
            <div class="col s4 section">
              <h5 style="text-align: center;">Mink Bundles</h5>
            </div>
            <div class="col s4 section">
              <h5 style="text-align: center;">Start a collection!</h5>
            </div>
        </div>
     <br>
     <br>
       
     
</body>
</html>

{% endblock %}