{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  body {
    background-image: url(//i.imgur.com/Z9R1j4W.jpg);
    background-size: cover;
  }
  </style>
<div class="image">
  <img class="responsive-img" src="https://i.imgur.com/og0hDte.jpg" alt="home">
<hr />
<div class="home" font-style: italic>
<h1 style="font-style: italic; color: wheat;"> J&E HAIR EXTENSIONS</h1>

<div class="page-footer black" padding-top="0"; text-align="right"></div>
</div>
  <h2 style="text-align: center; font-style: italic; color: wheat; font-weight: 100; ">THE ELEGANCE IS YOURS!</h2>

  
  <p>Here at J&E Hair Co. we strive to make sure our customers receive the best service possible.
    Thank you for all your support and please come again
  </p>

</html>

{% endblock %}