{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}
{% endblock %}

<div class="shoppingCart">
<h1>My Cart</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
  <div class="p_name"><h4>Product's Name: {{ product.name }}</h4>
      <div class="name"><h4>Price: {{ product.price }}</h4>
        <div class="name"><h2>Total:</h2>
            </div>
            <div class="orderContainer">

            </div>
            </div>
            </div>

{% endblock %}