{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block additional_styles %}
{% endblock %}

<img class="responsive-img" style="background-size: contain;" src="https://static.wixstatic.com/media/7268ec_fe5ca027f9bd46c6afd55738f9fda946~mv2.png/v1/fill/w_1274,h_536,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/templett_1.png" alt="about">
  
  <br>
  <br>

    <div class="col s4 section">
  {% for product in products %}

  <div class="products">
    <div class="square responsive-img">
    <img src="{{product.picture.url}}" alt="mink">
    <div class="action">
      <p>{{product.name}}</p>
      <p>${{product.price}}</p>
      <button value="{{product.id}}">Add to Cart</button>
</div>
</div>
</div>


<br>
<br>

<script>
  let buttons = document.querySelectorAll(".products button")

  buttons.forEach(button=>{
    button.addEventListener("click", addToOrder)
  })

  function addToOrder(e){
    let product_id = e.target.value
    console.log(product_id)
  }
  </script>
</body>
</html>
{% endfor %}
{% endblock %}