
{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}
{% endblock %}


<h1>Mink Bundles</h1>

<body>
    <img class= "responsive-img" style=" width:450px;border-radius: 10px;" src="https://cdn.shopify.com/s/files/1/0553/4351/3784/products/a8262d2b-497f-4e73-a564-6b44d752f601_grande.jpg?v=1615862744" alt="Mink">
</div>
</div>
</div>
<table>

<div class="column">
<div class="col s6">
<form action="/mink_detail/" method="submit">
<div class="flex">
  <a class="btn" href="{% url 'extension' %}">Back</a>
</form>
  </div>
  </div>
  </div>
  
<h5>Only 1-16" in stock<h5>
  <p>Our Mink Body Wave Bundles are 100% human hair, providing a soft and natural look. Each bundle is full-bodied and of premium quality, ensuring each strand is healthy and tangle-free. Our bundles will give you a luxurious experience that lasts.</p>
  <h5>We recommend a minimum of 2-3 bundles for an install on most women.</h5>

</div>
</body>
</html>

{% endblock %}


