
{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}
{% endblock %}


<h1>Mink Bundles</h1>

<body>
    <img class= "responsive-img" style=" width:450px;border-radius: 10px;" src="https://cdn.shopify.com/s/files/1/0553/4351/3784/products/a8262d2b-497f-4e73-a564-6b44d752f601_grande.jpg?v=1615862744" alt="Mink">
</div>
</div>
</div>
<table class="table">
  <div class="row">
    <div class="col s6">
      <div class="form">
        <div class="form-action">

        <div style="flex:2; text-align:right;margin-top: 20px"><strong>Length</strong></div>
          <div style="flex:2; text-align: right;margin-top: 20px "><strong>Quantity</strong></div>
          <div style="flex:1; display: grid; text-align: right; margin-top: 20px;"><strong>Price</strong></div>
        </div>
        </div>

<div class="flex">
  <a class="btn" href="{% url 'home' %}">Add To Cart</a>
  <a class="btn" href="{% url 'home' %}">Checkout</a>
  </div>
  </div>
  </div>
  

  <p>Our Mink Body Wave Bundles are 100% human hair, providing a soft and natural look. Each bundle is full-bodied and of premium quality, ensuring each strand is healthy and tangle-free. Our bundles will give you a luxurious experience that lasts.</p>
  <h5>We recommend a minimum of 2-3 bundles for an install on most women.</h5>

</div>
</body>
</html>

{% endblock %}


