{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}
{% endblock %}


<h1>Russian Blonde</h1>

<body>
  <div class="col s4 section" >
    <img class= "responsive-img" style="width: 350px; border-radius: 10px;" src="https://m.media-amazon.com/images/I/51nB8bIiXnL.jpg" alt="Mink">
  </div>

  <div class="column">
    <div class="col s6">
    <form action="/mink_detail/" method="submit">
      <a class="btn black" href="{% url 'extension' %}">Back</a>
    </form>
      </div>
      </div>
      </div>
      


  <p>Our Russian Blonde Bundles are 100% human hair, providing a soft and natural look. Each bundle is full-bodied and of premium quality, ensuring each strand is healthy and tangle-free. Our bundles will give you a luxurious experience that lasts.</p>
  <h5>OUT OF STOCK</h5>

</div>
</body>
</html>

{% endblock %}