{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}
{% endblock %}


<h1>Mink Closures</h1>

<body>
  <div class="col s4 section" >
    <img class= "responsive-img" style="width: 350px; border-radius: 10px;" src="https://i.etsystatic.com/34811563/r/il/857a8e/3823114179/il_1588xN.3823114179_dovg.jpg" alt="Closure">
  </div>

  <div class="column">
    <div class="col s6">
    <form action="/closure_detail/" method="post">
      <a class="btn black" href="{% url 'extension' %}">Back</a>
    </div>
      </div>
      </div>
  <p>Our Mink Lace Closures are 100% human hair, pre-plucked, and ready for installation. J&E Mink Closures are hand made and tied at least 2.5 times to ensure no shedding or balding. Custom made lace closures with high quality HD lace. Luxe Lace Closures are 4×4 unless customization is requested.</p>
  <h5>All hair is measured when pulled straight.</h5>
</div>
</body>
</html>

{% endblock %}