
{% extends 'base.html' %}
{% block content %}
{% block additional_styles %}
{% endblock %}


<h1>Edge Control</h1>

<body>
    <img class= "responsive-img" style=" width:450px;border-radius: 10px;" src="https://s.alicdn.com/@sc04/kf/H84df1937dc824fb998ebc5de8489e9046.jpg_960x960.jpg" alt="Mink">
</div>
</div>
</div>
<table>

<div class="column">
<div class="col s6">
<form action="/edge_detail/" method="submit">
  <a class="btn" href="{% url 'extension' %}">Back</a>
</form>
  </div>
  </div>
  </div>
  

  <p>Our edge control has a great consistency with a super hold on hair for up to 12hrs. Get your edges laid today!</p>
  <h5>OUT OF STOCK</h5>

</div>
</body>
</html>

{% endblock %}








